<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Personal Information</h4>
    <div class="required field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="required field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email Address">
    </div>
    <div class="required field">
      <label>Phone Number</label>
      <input type="text" name="phoneNumber" placeholder="Phone Number">
    </div>
    <div class="required field">
      <label>Facebook URL</label>
      <input type="text" name="facebookUrl" placeholder="Facebook URL">
    </div>
    <h4 class="ui dividing header">Login Information</h4>
    <div class="required field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="required field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="ui submit button">Add User</div>
  </form>
</div>