<div class="ui segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>E-mail address</th>
        <th>Facebook URL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>123</td>
        <td>johndoe@gmail.com</td>
        <td>N/A</td>
      </tr>
    </tbody>
  </table>
</div>