<div class="ui segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>E-mail address</th>
        <th>Facebook URL</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.phoneNumber %></td>
          <td><%= user.email %></td>
          <td><%= link_to user.facebookUrl, user.facebookUrl %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>