<div class="ui menu">
  <a class="active item">
    <i class="home icon"></i> FrocBorneo
  </a>
  <a href="<%= users_path %>" class="item">
    <i class="user icon"></i> Users
  </a>
  <a href="<%= cars_path %>" class="item">
    <i class="shipping icon"></i> Cars
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>