development:
  app_id: YOUR_APP_ID
  master_key: YOUR_API_MASTER_KEY

test:
  app_id: YOUR_APP_ID
  master_key: YOUR_API_MASTER_KEY

production:
  app_id: YOUR_APP_ID
  master_key: YOUR_API_MASTER_KEY
